{% extends 'base.html' %}
{% block content %}
  <div class="row">
    <h1>Pessoas</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">nome</th>
          <th scope="col">sobrenome</th>
          <th scope="col">idade</th>
          <th scope="col">data_nascimento</th>
          <th scope="col">email</th>
          <th scope="col">apelido</th>
          <th scope="col">observacao</th>
          <th scope="col">ação</th>
        </tr>
      </thead>
      <tbody>
        {% for pessoa in pessoas %}
          <tr>
                <td>{{ pessoa.id }}</td>
                <td>{{ pessoa.nome }}</td>
                <td>{{ pessoa.sobrenome }}</td>
                <td>{{ pessoa.idade }}</td>
                <td>{{ pessoa.data_nascimento }}</td>
                <td>{{ pessoa.email }}</td>
                <td>{{ pessoa.apelido }}</td>
                <td>{{ pessoa.observacao }}</td>
                <td>
                    <a class="btn btn-warning" href="{% url 'upd_pessoa' pessoa.pk %}">Editar</a>
                    <a class="btn btn-danger" href="{% url 'del_pessoa' pessoa.pk %}">Deletar</a>
                </td>
          </tr>
'
        {% endfor %}
      </tbody>
    </table>
      <a class="btn btn-primary" href="{% url 'add_pessoa' %}">Adicionar Pessoas</a>
  </div>
{% endblock %}

